body {
margin: 0;
background-color: #323232;
}

/* HEADER */
.header {
background-color: #212121;
position: fixed;
top: 0;
width: 100%;
text-align: center;
font-size: 0;
border-bottom: 1px solid #171717;
}

.logo {
position: absolute;
margin: auto;
right: 62%;
transform: translateX(-62%);
font-size: 40px;
z-index: 1;
color: #e3e3e3;
font-family: 'Lato', sans-serif;
display: block;
text-decoration: none;
}

.sublogo {
vertical-align: text;
text-align: left;
display: inline-block;
padding-left: 2px;
font-size: 15px;
width: 40px;
}

.navigation {
position: relative;
margin: 0 35px 0 auto;
padding: 14px;
}

.navigation a {
color: #a1a1a1;
text-decoration: none;
font-size: 16px;
font-family: 'Lato', sans-serif;
padding: 14px;
}

.navigation a:hover, .go-button:hover {
color: #dedede;
}

.navigation a.active {
background-color: #1a1a1a;
color: #e3e3e3;
}

/* ABOUT PAGE */
.content-container {
text-align: center;
border-radius: 3px;
margin: auto;
margin-top: 80px;
width: 907px;
background-color: #292929;
font-family: 'Lato', sans-serif;
padding: 10px 16px 25px;
border-style: solid;
border-width: 1px;
border-color: #262626;
}

.content-container h2 {
margin: 30px 0px 20px;
color: #e3e3e3;
font-size: 36px;
}

.content-container h3 {
margin: 30px 0px 20px;
color: #e3e3e3;
font-size: 22px;
}

h2.top-title {
margin: 0 0 20px 0;
}

.content-container p {
margin: 0px;
font-size: 16px;
color: #e3e3e3;
}

.link {
color: #4C74B9;
text-decoration: none;
}

a.link:hover {
color: #5a89db;
text-decoration: underline;
}

/* AUTO BUILDER */
h2.autobuild-title {
margin: 0 0 5px 0;
}

p.autobuild-description {
margin: 5px 0 17px;
}

input[type='radio'] {
display: none;
}

label {
display: inline-block;
padding: 10px 0;
width: 65px;
color: #999999;
background-color: #242424;
text-align: center;
border: 1px solid #1a1a1a;
border-radius: 5px;
margin: 0 20px 17px;
cursor: pointer;
}

label:hover {
color: #e3e3e3;
}

input[type='radio'][name='game']:checked + label {
outline: 2px solid #a1a1a1;
color: #e3e3e3;
}

.content-container form {
margin: 0 auto;
padding-right: 7px;
width: 100%;
position: relative;
}

.content-container input#id_steam_id, .builder-link {
width: 50%;
padding: 0 0 2px 7px;
border: 1px solid #1a1a1a;
border-right-color: #242424;
height: 31px;
font-size: 1em;
color: #e3e3e3;
border-radius: 3px 0 0 3px;
background-color: #242424;
box-sizing: border-box;
}

::placeholder {
color: #8f8f8f;
}

.go-button {
position: relative;
height: 31px;
padding: 0 7px 2px;
font-size: 1em;
box-sizing: border-box;
border: 1px solid #1a1a1a;
border-radius: 0 3px 3px 0;
background-color: #212121;
cursor: pointer;
color: #a1a1a1;
}

input:focus {
outline: 1px solid #a1a1a1;
}

input:focus + .go-button {
transition: 0.1s outline;
outline: 1px solid #a1a1a1;
}

/* BUILDER */
.builder-page-content {
display: flex;
justify-content: center;
margin: auto;
color: #e3e3e3;
font-family: 'Lato', sans-serif;
}

.builder-left {
width: 460px;
margin: 80px 10px 0 0;
}

.builder-background, .builder-link-background {
background-color: #292929;
border-radius: 3px;
border-style: solid;
border-width: 1px;
border-color: #262626;
width: 100%;
}

.builder-title {
margin: 10px 0 13px;
text-align: center;
}

.builder-item-holder {
margin: 0px 15px;
padding: 7px;
background-color: #242424;
border-radius: 3px;
border-style: solid;
border-width: 1px;
border-color: #212121;
}

.builder-filter {
display: flex;
margin: 0 16px 16px;
height: 30px;
justify-content: space-between;
align-items: center;
}

.builder-box {
box-sizing: border-box;
background-color: #242424;
border: 1px solid #1a1a1a;
border-radius: 3px;
color: #e3e3e3;
display: flex;
height: 28px;
width: 90px;
}

.builder-dropdown-main {
position: relative;
display: inline-block;
}

.builder-dropdown {
display: none;
position: absolute;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
margin-top: -1px;
z-index: 1;
}

.builder-game {
width: 300px;
height: 40px;
font-size: 1em;
background-color: #242424;
color: #e3e3e3;
border: 1px solid #a1a1a1;
border-top: none;
cursor: pointer;
}

.builder-game:hover, .bd:hover, .abh:hover {
background-color: #1f1f1f;
cursor: pointer;
}

.show {
display: revert;
}

.bd {
font-size: 16px;
width: 130px;
cursor: pointer;
padding: 2px 0 0 6px;
}

.bd.bd-selected {
border-color: #a1a1a1;
border-radius: 3px 3px 0 0;
}

.arrow {
margin: 9px auto;
width: 0;
height: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;
border-top: 5px solid ;
}

.arrow2 {
width: 8px;
height: 8px;
border-top: 2px solid ;
border-right: 2px solid ;
margin: auto;
}

.tr {
margin-left: 25px;
transform: rotate(45deg);
}

.tl {
margin-right: 25px;
transform: rotate(-135deg);
}

.ab {
width: 65px;
margin: 0 8px;
color: #a1a1a1;
border-color: #1e1e1e;
}

.abh {
color: #e3e3e3;
border-color: #1a1a1a;
}

.builder-filter input {
height: 28px;
font-size: 16px;
margin: 0 16px;
padding: 0 0 2px 5px;
flex: 1;
border: 1px solid #1a1a1a;
color: #e3e3e3;
border-radius: 3px;
background-color: #242424;
box-sizing: border-box;
}

.builder-item-total {
padding-top: 2px;
margin: 0 0 0 6px;
}

#total-items {
margin: 0 auto;
}

.builder-item-page {
padding: 6px 0 0;
margin: 0 auto;
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}

.item {
background-size: 100%;
background-color: #1f1f1f;
margin-bottom: 6px;
height: 120px;
width: 96px;
border: 1px solid #141414;
border-radius: 3px;
box-sizing: border-box;
overflow: hidden;
display: flex;
text-align: center;
background-repeat: no-repeat;
}

.item:hover {
background-color: #171717;
cursor: pointer;
}

.item-selected {
background-color: #171717;
border-color: #a1a1a1;
}

/* Idk this kinda stinky doo */
.item-selected:hover {
background-color: #1f1f1f;
}

.item-empty {
height: 120px;
width: 96px;
background-color: #1f1f1f;
margin-bottom: 6px;
border: 1px solid #141414;
border-radius: 3px;
box-sizing: border-box;
}

.builder-name-holder {
font-size: 13px;
align-self: flex-end;
margin: 0 auto;
padding: 2px 2px 3px;
width: 100%;
height: 30px;
background: rgba(18, 18, 18, 0.4);
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}

.builder-name {
width: 90px;
overflow: hidden;
text-overflow: ellipsis;
display: block;
}

.builder-page-navigation {
margin: 20px 0;
display: flex;
justify-content: center;
}

.page-count span{
display: inline-block;
vertical-align: middle;
margin: 0 2px;
}

.al {
width: 20px;
text-align: left;
}

.ar {
width: 20px;
text-align: right;
}

.builder-right {
width: 460px;
margin: 80px 0 0 10px;
display: flex;
align-items: center;
flex-direction: column;
}

.builder-link-background {
align-self: flex-start;
flex: 1;
margin: 0 0 20px;
display: flex;
justify-content: center;
}

.builder-link {
flex: 1;
}

.link-holder {
width: 300px;
margin: auto;
display: flex;
position: absolute;
align-self: center;
}

.builder-chosen-items {
align-self: flex-end;
}

/* Temporary layouts for small screens */
@media only screen and (max-width: 1080px) {
  .logo {
    right: revert;
    transform: revert;
    margin-left: 10px;
  }
  .navigation {
  text-align: right;
  margin-right: 25px;
  padding-right: 0;
  }

@media only screen and (max-width: 940px) {
  .content-container {
  width: auto;
  margin: 58px 10px 10px;
  padding: 10px 15px 20px;
  }
